<div class="main">
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role='navigation'>
        <div class='container-fluid'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle='collapse' data-target='.navabar-ex-collapse'>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand'>MsgBrd</a>
            </div>
            <div class='collapse navbar-collapse navabar-ex-collapse'>
                <ul class="nav navbar-nav navbar-right">                    
                    <li class='active'><a><span class="glyphicon glyphicon-home">All</a></li>
                    <li><a ng-click="newMessage()"><span class="glyphicon glyphicon-file">New</a></li>
                    <li><a href="app/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="page-header">
        <h3>All Messages</h3>
    </div>       
    
    <div class="row">
        <div class="col-md-4">
            <h4>Filter messages by</h4>
             <div class="form-group">
                <label>Name:</label>
                <select class="form-control" ng-model='byname' ng-options='name.name as name.name for name in filter.names'>
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label>Subject:</label>
                <select class="form-control" ng-model='bysubject' ng-options='subject.subject as subject.subject for subject in filter.subjects'>
                    <option value=""></option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" ng-click='filterMessages()'><span class="glyphicon glyphicon-search">Search</button>
                  
        </div>        
        <div class="col-md-8">
            <button type="button" class="btn btn-primary btn-block btn-xs" ng-click="invert()" ng-show="inverted === false"><span class="glyphicon glyphicon-chevron-up"></button>
            <button type="button" class="btn btn-primary btn-block btn-xs" ng-click="invert()" ng-show="inverted === true"><span class="glyphicon glyphicon-chevron-down"></button>
            <div ng-repeat="post in message.messages" class="repeated-item">
                <div ng-class-odd="'odd'" ng-class-even="'even'">
                    <h4 id="subject">{{post.subject}}<button type="button" class="btn btn-default btn-xs deleteButton" ng-click="deleteMessage($index)" ng-show="message.user === post.sender"><span class="glyphicon glyphicon-remove"></span>delete </button>
                    </h4>
                    <p>{{post.text}}</p>
                    <p>Sent by: {{post.sender}} at {{post.timestamp}}</p>
                    
                </div>
            </div>            
            <h4 ng-show='message.messages.length === 0'>No messages found</h4>
        </div>
    </div>
</div>